h1 {
    text-align: center;
    color: red;
}

body {
    background-color: white;
}

p {
    color: blue;
    text-align: center;
}

input {
    background-color: blue;
    font-size: 150%;
}

input:hover {
    background-color: greenyellow;
}

#key_text_box:hover {
    background-color: blue;
}