<!DOCTYPE html>
<html>
    <head>
        <title>AppleTube</title>
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/script.js"></script>
    </head>
    <body>
        <h1>Games</h1>
        <h2>Add new game</h2>
        <p>
        <input type="text" value="Scratch Link" id="scratch_link">
        <input type="button" value="Submit" onclick="scratch_link_enter()">
</p><br><p><a href="games/Escape_From_Syria_1.4">Escape From Syria 1.4</a><br></p>
</p><br><p><a href="games/Escape_From_Syria_1.4">Escape From Syria 1.4</a><br></p>
    
    </body>
</html>









