<!DOCTYPE html>
<html>
    <head>
        <title>AppleTube</title>
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/script.js"></script>
    </head>
    <body>
        <h1>AppleTube</h1>
        <p>
        <input type="button" value="ScratchTube" onclick="scratchtube_clicked()"> <!--ScratchTube Button-->
        <input type="button" value="Tutorials" onclick="tutorials_clicked()"> <!--Tutorials Button-->
        <input type="button" value="Games" onclick="games_clicked()"> <!--Games Button-->
        <!--<input type="text" value="Pro Key" id="key_text_box"> Pro Text-Box-->
        <!--<input type="button" value="Submit" onclick="eval_key()"> Pro Submit Button-->
        </p>
    </body>
</html>